.modal-footer {   border-top: 0px; }

#relatorios{
    float: left;
    width: 600px;
    height: auto;
    min-height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #EDEDED;
    margin-right: 5px;
    margin-left: 70px;
}
#acessos{
    float: left;
    width: 600px;
    height: auto;
    min-height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #EDEDED;
    margin-right: 5px;
    margin-left: 25px;
}